@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ป้องกันการ scroll บนมือถือ */
body {
  overflow: hidden;
  touch-action: none;
}

/* ปรับขนาด video element */
#reader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}




/*
#qr-reader video {
  width: 100% !important;
  border-radius: 8px;
}

#qr-reader div:first-child {
  width: 100% !important;
}
*/

/*
video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}
*/
/*
#html5qr-code-full-region video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}*/

/*
#reader video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}*/

/* Optional: Style the QR code scanning box */
/*
#reader .html5-qrcode-element {
  border: 2px dashed #fff !important;
  border-radius: 8px !important;
}*/